<article>
  <h1>Toggle Helper</h1>
  <section>
    <h2>Basic usage</h2>
    <button class="js-toggle" aria-controls="information" aria-expanded="false">Toggle Me</button>
    <div id="information" hidden>
      Some information here
    </div>
  </section>
  <section>
    <h2>Basic usage with multiple toggles in same section</h2>
    <button class="js-toggle" aria-controls="information2" aria-expanded="false">Toggle Me</button>
    <div id="information2" hidden>
      Some information here
    </div>
    <button class="js-toggle" aria-controls="information3" aria-expanded="false">Toggle Me</button>
    <div id="information3" hidden>
      Some information here
    </div>
  </section>
</article>
