.switch {
    align-items: center;
    display: flex;

    &__label {
        display: inline-block;
        height: 30px;
        margin: 10px;
        position: relative;
        width: 100px;

        input {
            display:none;
        
            &:checked {
                +.slide {
                    background-color: black;
                    padding-left: 40px;

                    &::before {
                        -webkit-transform: translateX(53px);
                        -ms-transform: translateX(53px);
                        left: 20px;
                        transform: translateX(53px);
                    }
                }
            }
        }
    }

    .slide {
        background-color: #ccc;
        bottom: 0;
        color: #fff;
        cursor: pointer;
        left: 0;
        padding: 8px;
        position: absolute;
        right: 0;
        top: 0;
        transition: .4s;
        -webkit-transition: .4s;

        &:before {
            background-color: white;
            bottom: 5px;
            content: "";
            height: 20px;
            position: absolute;
            transition: .4s;
            width: 20px;
            -webkit-transition: .4s;
        }
    }

    .round {
        border-radius: 30px;

        &::before {
            border-radius: 50%;
        }
    }
}
