.toggle {
    &__trigger {
        &::after {
            content: '+';
            display: inline-block;
            margin-left: 6px;
        }

        &[aria-expanded="true"]::after {
            content: '-';
        }
    }
}
