.scroll-top {
  background-color: #000;
  bottom: 20px;
  color: #fff;
  cursor: pointer;
  display: none;
  height: 48px;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 48px;
  z-index: 9;

  &.is-active { display: block; }
}
