{% set class = component.class|default('') %}
{% set text = component.text|default('Top') %}

<button
    id="scroll-top"
    class="scroll-top {{ class }}"
    aria-hidden="true"
>
  {{ text|raw }}
</button>
